// COLOR
$title-color: #34313d;
$second-color: #3a3054;
$thrid-color: #4b3f6b;
$subt-color: #9e9aa8;
$light-grey: #eff1f7;
$blue: #2bd0d0;

// FONT-FAMILY
$font: "Poppins", "Arial", sans-serif;
// FONT-SIZE
